{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>Sorry, this room is not equipped yet...</h1>
        <p>The room you are trying to access is not yet equipped with a sensor system.</p>
        <a href="{{ path('app_rooms') }}" class="btn btn-primary mt-4">Return to Rooms List</a>
    </div>
{% endblock %}