{% extends 'base.html.twig' %}

{% block title %}
    Welcome!
{% endblock %}

{% block stylesheets %}
    {# Ajoutez ici vos feuilles de style CSS spécifiques si nécessaire #}
{% endblock %}

{% block javascripts %}
    {# Ajoutez ici vos scripts JS spécifiques si nécessaire #}
{% endblock %}

{% block body %}
    <h1>Room {{ room.name }}</h1>

    <h3>State: {{ room.state.value }}</h3>
    <h3>Floor: {{ room.floor.value }}</h3>
    <h3>Description: {{ room.description }}</h3>

    <ul>
        <li>Température: 20</li>
        <li>Humidité: 38</li>
        <li>CO2: 188</li>
    </ul>
{% endblock %}